.root {
    display: block;
    margin: 20px;
}

.root .form {
    @apply block;
}

.root label {
    @apply mb-1 text-base;
}

.root .pageTitle {
    @apply font-semibold;
}

.root .form .fields {
    @apply mb-6;
}

.detailsTitle {
    composes: pageTitle;
}

.tip {
    @apply block text-xs;
}

.buttonsContainer {
    @apply flex mb-4;
}

.createCampaignErrorRoot {
    padding: 10px 0px;
}

.createCampaignErrorMessage {
    @apply text-red-700 my-0;
}

.checkbox_root {
    @apply border border-4 border-gray-800;
}

.fieldIcons_root {
    @apply flex items-center;
}

/* Customize for the datepicker */
.rdwDatepicker {
    composes: root from '../../atoms/Field/field.module.css';
}

.rdwDatepicker :global(.react-datepicker-wrapper) {
    width: auto;
    border: 1px solid red;
}