.root {
    /*for example only*/
    display: block;
    margin: 15px 0px 15px 0px;
}

.label {
    display: block;
}

.input {
    border: 1px solid #d6d6d6;
    padding: 10px;
}

.input:disabled {

}

.optional {

}
