.root {
  @apply bg-white shadow-sm rounded-lg mb-6
}

.twitterLoginTask {
  @apply flex items-center font-semibold mb-3;
}

.btnTwitterLogin {
  @apply bg-sky-400 hover:bg-sky-500 text-white flex items-center text-sm font-medium rounded-full py-1.5 pl-3 pr-4 ml-2 transition duration-300 ml-auto
}

.twitterFollowTask {
   @apply bg-gray-50 text-sm font-medium flex items-center border rounded-lg py-3 px-4 hover:shadow-sm transition-all duration-300 mb-3
}

.twitterFollowTaskError {
  composes: twitterFollowTask;
  @apply border-red-500 hover:border-red-500;
}

.twitterRetweetTask {
  @apply bg-gray-50 text-sm font-medium flex items-center border border-gray-200 rounded-lg py-3 px-4 hover:shadow-sm transition-all duration-300
}

.nftOwnershipTask {

}

.btnVerifyTwitter {
  @apply ml-auto;
}

.btnClaimRewardWrap {
  @apply py-4;
}

.btnClaimRewardWrap button {
  @apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-semibold;
}

.btnClaimReward {
  @apply bg-blue-500 hover:bg-blue-600 text-white block py-2.5 px-4 text-center rounded-lg transition-all duration-300 w-full;
}

.btnClaimRewardDisabled {
  composes: btnClaimReward;
  @apply bg-gray-600 hover:bg-gray-600;
  cursor: not-allowed;
  pointer-events: none;
}

.taskIndex {
}
.soulBoundTokenTask {
}