.root {
  @apply bg-white border-2 border-violet-500 shadow-sm rounded-lg mb-6
}

.taskIndex {
  @apply bg-white border border-gray-200 text-xs text-gray-700 font-semibold flex items-center justify-center block rounded-full text-center py-0.5 px-2 absolute -top-2.5 left-2;
}

.taskSuccess {
  @apply border border-green-600 text-green-600;
}

/* Step 1 */
.connectWalletTask {
  @apply border border-violet-400 flex items-center text-sm rounded-md relative mb-5 py-3 px-2 shadow-sm font-medium;
}

.connectWalletTask button {
  @apply py-1.5 px-3 text-xs rounded-full;
}

/* Step 2 */
.twitterLoginTask {
  @apply border border-violet-400 flex items-center text-sm rounded-md relative mb-5 py-3 px-2 shadow-sm font-medium;
}

.btnTwitterLogin {
  @apply bg-sky-400 hover:bg-sky-500 text-white flex items-center text-xs font-medium rounded-full py-1.5 px-3 transition duration-300 ml-auto;
}

/* Step 3 */
.twitterFollowTask {
  @apply border border-violet-400 flex items-center text-sm rounded-md relative mb-5 py-3 px-2 shadow-sm font-medium;
}

.twitterFollowTaskError {
  composes: twitterFollowTask;
  @apply border-red-500 hover:border-red-500;
}

/* Step 4 */
.twitterRetweetTask {
  @apply border border-violet-400 flex items-center text-sm rounded-md relative mb-5 py-3 px-2 shadow-sm font-medium;
}

.nftOwnershipTask {
  @apply bg-gray-100 mt-2 p-4 rounded-lg;
}

.btnVerifyTwitter {
  @apply bg-gray-200 hover:bg-sky-500 hover:text-white text-gray-700 font-semibold rounded-full py-1.5 px-3 text-xs ml-auto transition-all duration-300;
}

/* Step 5 */
.soulBoundTokenTask {
  @apply border border-violet-400 rounded-md flex items-start relative pt-4 pb-3 px-2;
}

.bsc {
  composes: bsc from '../../Rewards/rewards.module.css';
  float: left;
}

.btnClaimRewardWrap {
  @apply mt-4 pt-4;
}

.btnClaimRewardWrap button {
  /*@apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;*/
  @apply flex items-center justify-center text-center font-medium;
}

.btnClaimReward {
  @apply bg-violet-600 hover:bg-violet-700 text-white block py-2.5 px-4 text-center rounded-lg transition-all duration-300 w-full;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
}

.btnClaimRewardDisabled {
  composes: btnClaimReward;
  composes: disabled;
  @apply bg-gray-200 flex items-center justify-center text-gray-500 text-center font-medium;
}

.taskLoading {
  composes: disabled;
  opacity: 0.6;
  @apply bg-gray-200 text-gray-500 text-center font-medium;
}
