.root {
}

.bsc {
    @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/bsc.svg')] bg-cover;
}

.ethereum {
    @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/ethereum.svg')] bg-cover;
}

.polygon {
    @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/polygon.svg')] bg-cover;
}

.solana {
    @apply bg-gray-100 inline-block rounded-full mr-2 w-6 h-6 indent-96 overflow-hidden bg-[url('/chains/solana.svg')] bg-cover;
}
.nftCollectionWrap {
    composes: nftCollectionWrap from '../../../List/item.module.css';
    @apply flex items-center;
}

.nftCollectionLink {
}

.collectionName {
    composes: collectionName from '../../../List/item.module.css';
}

.contractAdd {
    composes: contractAdd from '../../../List/item.module.css';
}

.twitterLoginTask {
    @apply flex items-center font-semibold mb-3;
}

.btnTwitterLogin {
    @apply bg-sky-400 hover:bg-sky-500 text-white flex items-center text-sm font-medium rounded-full py-1.5 pl-3 pr-4 ml-2 transition duration-300
}

.twitterFollowTask {
   @apply bg-gray-50 text-sm font-medium flex items-center border border-red-500 hover:border-red-500 rounded-lg py-3 px-4 hover:shadow-sm transition-all duration-300 mb-3
}

.twitterRetweetTask {
    @apply bg-gray-50 text-sm font-medium flex items-center border border-gray-200 hover:border-blue-600 rounded-lg py-3 px-4 hover:shadow-sm transition-all duration-300
}

.nftOwnershipTask {

}