.root {
    padding: 20px;
    background-color: lightgray;
    border-bottom: solid 1px #d6d6d6;
}

.logo {

}

.logoContainer {

}

.root .topMenu {

}

.root .topMenu .link {

}

.root .topMenu .label {

}

.root .topMenu .linkGroup {

}

.root .topMenu .linkGroup .linkItem {}
