.formWrapper {
  display: block;
}

.form {
    @apply block;
}

.title {

}
.tip{
    display: block;
}

.buttonsContainer {
    margin: 10px;
    padding: 10px;
}

.datePickerField {
    /*for example only */
    composes: root from '../../atoms/Field/field.module.css';
    @apply inline-block w-1/2;
}

