.root {
  display: block;
    margin: 20px;
}

.root .form {
    @apply block;
}

.root .pageTitle {
    font-weight: bold;
}

.root .form .fields {
    border-bottom: 1px solid #d6d6d6;
    margin: 0px 0px 30px 0px;
    padding: 0px 0px 30px 0px;
}

.priceTitle {
    composes: pageTitle;
}

.detailsTitle {
    composes: pageTitle;
}
.visualTitle
{
    composes: pageTitle;
}
.visualSubTitle {
    composes: visualTitle;
}
.visualStyleOptions {
    list-style: none;
}
.visualStyleOptions li {
    display: inline-block;
    margin: 0px 10px 0px;
}

.unit {
    margin: 0px 0px 0px 10px;
}
.tip {
    display: block;
}

.buttonsContainer {
    @apply flex mb-4;
}

.createJobErrorRoot {
    padding: 10px 0px;
}

.createJobErrorMessage {
    color: red;
}


