.root {
  display: block;
}

.root .form {
    @apply block;
}

.root .pageTitle {
    font-weight: bold;
}

.root .form .fields {
    border-bottom: 1px solid #d6d6d6;
    margin: 0px 0px 20px 0px;
}

.priceTitle {
    composes: pageTitle;
}

.detailsTitle {
    composes: pageTitle;
}
.visualTitle
{
    composes: pageTitle;
}
.visualSubTitle {
    composes: visualTitle;
}

.unit {
    margin: 0px 0px 0px 10px;
}
.tip {
    display: block;
}

.buttonsContainer {
    margin: 10px;
    padding: 10px;
}

.datePickerField {
    /*for example only */
    composes: root from '../../atoms/Field/field.module.css';
    @apply inline-block w-1/2;
}

