.root {
    /*for example only */
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium;
    @apply rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700;
    @apply focus:outline-none dark:focus:ring-blue-800;
}

.root:active {

}

.root:hover:disabled {
    pointer-events: none;
}

.root_lowPriority {
    composes: root;
}

.root_normalPriority {
    composes: root;
}

.root_highPriority {
    composes: root;
}

.root_lowPriorityNegative,
.root_normalPriorityNegative {
    composes: root;
}

.root_highPriorityNegative {
    composes: root;
}

.content {
}
