.root {
  @apply text-gray-700 bg-gray-200 hover:bg-gray-400 font-medium;
  @apply rounded-lg px-4 py-2;
}

.root:active {

}

.root:disabled {
  pointer-events: none;
}

.root:hover:disabled {
  pointer-events: none;
}

.root_lowPriority {
  composes: root;
}

.root_normalPriority {
  composes: root;
}

.root_highPriority {
  composes: root;
}

.root_lowPriorityNegative,
.root_normalPriorityNegative {
  composes: root;
}

.root_highPriorityNegative {
 composes: root;
}

.content {
}
