/*@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css');*/
/* @import url('//fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800&display=swap'); */
@import url('http://fonts.cdnfonts.com/css/pt-root-ui');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-family: 'Space Mono', monospace; */
  }
}

html {
  height: 100%;
  font-feature-settings: "cv02","cv03","cv04","cv11";
}

body {
  @apply antialiased text-gray-700 dark:text-gray-400 bg-white dark:bg-gray-900;
}

h1, h2, h3 {
  font-family: 'PT Root UI', sans-serif;
}

h1 {
}

h2 {
  @apply my-4 font-bold text-2xl;
}

h3 {
  @apply my-6 font-bold text-xl;
}

p {
  @apply my-6;
}

ul, ol {
  @apply list-disc/* ml-8*/;
}

ul li,
ol li {
  @apply py-3 pl-1;
}


/* Improve style for Web3 modal */
.web3modal-modal-lightbox {
  z-index: 20;
}