@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
	color: #fff;
	background: #363537;

}

body.light {
	color: #363537;
	background: #fafafa;

}