.root {
}

.rootDark {
}

.pageWrap {
  @apply flex items-stretch;
}

.pageTitle {
  @apply text-5xl font-bold text-gray-800 mt-0 mb-8;
}

.pageContent {
  @apply border-r border-gray-200 w-full md:w-2/3 md:pr-14;
}

.rootDark .pageContent {
  @apply border-r border-gray-800;
}

.pageSidebar {
  @apply w-full md:w-1/3 md:pl-14;
}

.rootDark .pageTitle {
  @apply text-white;
}

.campaignMeta {
  @apply flex items-start;
}

.dateStart {
  @apply border-r border-gray-200 pr-4;
}

.rootDark .dateStart {
  @apply border-gray-800;
}

.dateEnd {
  @apply pl-4;
}

.dateLabel {
  @apply text-gray-500 block text-sm mb-2;
}

.root .title {
  @apply font-semibold;
}

.rootDark .desc {
  @apply text-gray-400;
}

/* Sidebar list coupon */
.Box {
  @apply bg-gray-50 border border-gray-200 rounded-lg;
}

.Box + .Box {
  @apply mt-6;
}

.boxHilite {
  @apply border border-2 border-violet-600 rounded-lg mb-5;
}

.rootDark .Box {
  @apply bg-gray-800 border border-gray-700;
}

.boxTitle {
  @apply border-b border-gray-200 font-medium text-gray-800 text-lg m-0 py-3 px-4;
}

.rootDark .boxTitle {
  @apply border-b border-gray-700 text-white;
}

.boxHilite .boxTitle {
}

.boxBody {
  @apply py-6 px-4;
}

.couponList {
  @apply list-none m-0 p-0;
}

.couponList li {
  @apply m-0 p-0;
}

.couponList li + li {
  @apply mt-2;
}

.couponItem {
  @apply bg-white border border-gray-200 hover:border-violet-600 hover:shadow-md rounded-md py-4 px-3 relative transition-all duration-200;
}

.couponItem:hover .btnGetCoupon {
  @apply bg-violet-600 text-white;
}

.rootDark .couponItem {
  @apply bg-transparent border border-gray-700 hover:border-violet-600 transition-all duration-200;
}

.couponItem h4 {
  @apply font-medium text-base mt-0 mb-1 p-0;
}

.rootDark .couponItem h4 {
  @apply text-white;
}

.itemMeta {
  @apply text-xs text-gray-500;
}

.rootDark .itemMeta {
  @apply text-gray-300;
}

.btnGetCoupon {
  @apply hover:bg-violet-600 border border-violet-600 hover:text-white text-sm font-normal rounded absolute top-0 right-3 py-1.5 px-2 translate-y-2/4;
}

.rootDark .btnGetCoupon {
  @apply text-white;
}

.couponNotes {
  padding: 10px;
  color: red;
  text-align: center;
}
.couponContainer{
  display: block;
  text-align: center;
}
.couponCodes {
  display: block;
  padding: 20px;
  border: 5px dotted yellow;
  color: #1c1918;
  font-size: 16px;
}